<div id="modal-background"></div>
<section id="modal">
    <form>
        <lable>Edit Message</lable>
        <input type="text" id="editMessageBox">
    </form>
    <button onClick="closeModal(event)">&times;</button>
</section>



<script>
    const modal = document.getElementById('modal');
    const modalBackground = document.getElementById('modal-background');
    const editMessageBox = document.getElementById('editMessageBox');

    function openModal(event, messageText) {
        event.preventDefault();
        modal.classList.add('visible');
        modalBackground.classList.add('visible');
        editMessageBox.value = messageText;
    }

    function closeModal() {
        modal.classList.remove('visible');
        modalBackground.classList.remove('visible');
    }
</script>