<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <nav>
            <h1>Mssg.</h1>
            <a href="/user/log-out"><button>Log Out</button></a>
        </nav>
        <section class="user-info">
                <div class="prof-pic"></div>
                <h2><%= user.username %></h2>
        </section>
    </header>

    <main>
        <form class="new-post"  method="POST" action="/home">
            <textarea type="text" id="message" name="message" placeholder="new message"></textarea>
            <button type="submit">Submit</button>
        </form>
    
        <section class="messages-container"> 
            <% messages.forEach((message) => { %>
                <%- include('messageCard', { message: message }); %>
            <% });  %>
        </section>
    
        <section>
            <%- include ('editModal') %>
        </section>
    </main>


</body>

</html>