<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <a href="/user/log-out"><button>Log Out</button></a>
    <h1>Home</h1>

    <h1><%= user.username %></h1>
    <form class="new-post"  method="POST" action="/home">
        <div>
            <lable for="message">message</lable>
            <input type="text" id="message" name="message">
        </div>
        <button type="submit">Submit</button>
    </form>

    <div class="messages-container"> 
        <% messages.forEach((message) => { %>
            <%- include('messageCard', { message: message }); %>
        <% });  %>
    </div>

    <div>
        <%- include ('editModal') %>
    </div>

</body>

</html>