<script>
    function openModal(event) {
        event.preventDefault();
        const modal = document.getElementById('edit-popup');
        modal.classList.add('visible')
    }
</script>

<div class="card">
    
    <div>
        <h2><%= message.username %></h2>
        <p><%= message.add %></p>
        <p><%= message.text %></p>
        <% if (message.username === locals.user.username)  {%>
            <div>
                <form action="/home/<%= message.id %>/delete" method="POST">
                    <button>Delete</button>
                </form>
                <form>
                    <button name="modal" value="open" onClick="openModal(event)">Edit</button>
                </form>
            </div>
        <% } %>
    </div>
</div>

