<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/home"><button>Back</button></a>
    <h1><%= user.username %></h1>
    <form>

        <div>
            <lable for="message">message</lable>
            <input type="text" id="message" name="message">
        </div>
    </form>
</body>
</html>